<%- include('./includes/header.ejs') %> 
</head>
<body>
  <!-- begin::Navbar -->
  <%- include('./includes/navigation.ejs') %>
  <!-- emd::Navbar -->
  

  <div class="container d-flex justify-content-center align-items-center">
    <h2>No page was found!</h2>
  </div>
<%- include('./includes/footer.ejs') %>